# A Safer World: Understanding and Reducing Crime

In [1]:
# Importing required libraries 
import pandas as pd # required to work with data
import numpy as np # required to round the data in the correlation matrix
import matplotlib.pyplot as plt # required for data visualization
from ydata_profiling import ProfileReport # Summarize and profile the data
import seaborn as sns # required for data visualization
import os # Data dirctoy 
os.chdir("C://Users//HP//Desktop//crime_pop") # Data directory 
pd.set_option("display.max_columns",None) # Displaying all columns

In [2]:
# Load data
Population_Age_Sex = pd.read_csv("PopulationByAgeSex.csv")
violent_and_sexual_crime = pd.read_excel("data_cts_violent_and_sexual_crime.xlsx")
corruption_and_economic_crime = pd.read_excel("data_cts_corruption_and_economic_crime.xlsx")
total_government_expenditure_on_education_gdp = pd.read_csv("total-government-expenditure-on-education-gdp.csv")
countries_of_the_world = pd.read_csv("Countries of the World.csv")

### Population by Age and Sex Dataset

#### Data Profiling

In [3]:
# Data information
Population_Age_Sex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66893 entries, 0 to 66892
Data columns (total 71 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 66893 non-null  int64
 1   LocID              66893 non-null  int64
 2   Location           66893 non-null  object
 3   Time               66893 non-null  int64
 4   PopMale_0_4        66893 non-null  float64
 5   PopFemale_0_4      66893 non-null  float64
 6   PopTotal_0_4       66893 non-null  float64
 7   PopMale_5_9        66893 non-null  float64
 8   PopFemale_5_9      66893 non-null  float64
 9   PopTotal_5_9       66893 non-null  float64
 10  PopMale_10_14      66893 non-null  float64
 11  PopFemale_10_14    66893 non-null  float64
 12  PopTotal_10_14     66893 non-null  float64
 13  PopMale_15_19      66893 non-null  float64
 14  PopFemale_15_19    66893 non-null  float64
 15  PopTotal_15_19     66893 non-null  float64
 16  PopMale_20_24      66893 non-null  float64
 17  PopFemale_20_24    66893 non-null  float64
 18  PopTotal_20_24     66893 non-null  float64
 19  PopMale_25_29      66893 non-null  float64
 20  PopFemale_25_29    66893 non-null  float64
 21  PopTotal_25_29     66893 non-null  float64
 22  PopMale_30_34      66893 non-null  float64
 23  PopFemale_30_34    66893 non-null  float64
 24  PopTotal_30_34     66893 non-null  float64
 25  PopMale_35_39      66893 non-null  float64
 26  PopFemale_35_39    66893 non-null  float64
 27  PopTotal_35_39     66893 non-null  float64
 28  PopMale_40_44      66893 non-null  float64
 29  PopFemale_40_44    66893 non-null  float64
 30  PopTotal_40_44     66893 non-null  float64
 31  PopMale_45_49      66893 non-null  float64
 32  PopFemale_45_49    66893 non-null  float64
 33  PopTotal_45_49     66893 non-null  float64
 34  PopMale_50_54      66893 non-null  float64
 35  PopFemale_50_54    66893 non-null  float64
 36  PopTotal_50_54     66893 non-null  float64
 37  PopMale_55_59      66893 non-null  float64
 38  PopFemale_55_59    66893 non-null  float64
 39  PopTotal_55_59     66893 non-null  float64
 40  PopMale_60_64      66893 non-null  float64
 41  PopFemale_60_64    66893 non-null  float64
 42  PopTotal_60_64     66893 non-null  float64
 43  PopMale_65_69      66893 non-null  float64
 44  PopFemale_65_69    66893 non-null  float64
 45  PopTotal_65_69     66893 non-null  float64
 46  PopMale_70_74      66893 non-null  float64
 47  PopFemale_70_74    66893 non-null  float64
 48  PopTotal_70_74     66893 non-null  float64
 49  PopMale_75_79      66893 non-null  float64
 50  PopFemale_75_79    66893 non-null  float64
 51  PopTotal_75_79     66893 non-null  float64
 52  PopMale_80_84      66893 non-null  float64
 53  PopFemale_80_84    66893 non-null  float64
 54  PopTotal_80_84     66893 non-null  float64
 55  PopMale_85_89      66893 non-null  float64
 56  PopFemale_85_89    66893 non-null  float64
 57  PopTotal_85_89     66893 non-null  float64
 58  PopMale_90_94      66893 non-null  float64
 59  PopFemale_90_94    66893 non-null  float64
 60  PopTotal_90_94     66893 non-null  float64
 61  PopMale_95_99      66893 non-null  float64
 62  PopFemale_95_99    66893 non-null  float64
 63  PopTotal_95_99     66893 non-null  float64
 64  PopMale_100Plus    66893 non-null  float64
 65  PopFemale_100Plus  66893 non-null  float64
 66  PopTotal_100Plus   66893 non-null  float64
 67  PopMale            66893 non-null  float64
 68  PopFemale          66893 non-null  float64
 69  PopTotal           66893 non-null  float64
 70  YearDataCompleted  66893 non-null  int64
dtypes: float64(66), int64(4), object(1)
memory usage: 36.2+ MB

In [4]:
# Show the first 5 rows
Population_Age_Sex.head()

,Id,LocID,Location,Time,PopMale_0_4,PopFemale_0_4,PopTotal_0_4,PopMale_5_9,PopFemale_5_9,PopTotal_5_9,PopMale_10_14,PopFemale_10_14,PopTotal_10_14,PopMale_15_19,PopFemale_15_19,PopTotal_15_19,PopMale_20_24,PopFemale_20_24,PopTotal_20_24,PopMale_25_29,PopFemale_25_29,PopTotal_25_29,PopMale_30_34,PopFemale_30_34,PopTotal_30_34,PopMale_35_39,PopFemale_35_39,PopTotal_35_39,PopMale_40_44,PopFemale_40_44,PopTotal_40_44,PopMale_45_49,PopFemale_45_49,PopTotal_45_49,PopMale_50_54,PopFemale_50_54,PopTotal_50_54,PopMale_55_59,PopFemale_55_59,PopTotal_55_59,PopMale_60_64,PopFemale_60_64,PopTotal_60_64,PopMale_65_69,PopFemale_65_69,PopTotal_65_69,PopMale_70_74,PopFemale_70_74,PopTotal_70_74,PopMale_75_79,PopFemale_75_79,PopTotal_75_79,PopMale_80_84,PopFemale_80_84,PopTotal_80_84,PopMale_85_89,PopFemale_85_89,PopTotal_85_89,PopMale_90_94,PopFemale_90_94,PopTotal_90_94,PopMale_95_99,PopFemale_95_99,PopTotal_95_99,PopMale_100Plus,PopFemale_100Plus,PopTotal_100Plus,PopMale,PopFemale,PopTotal,YearDataCompleted
0,1,4,Afghanistan,1950,630.044,661.578,1291.622,516.206,487.335,1003.541,461.378,423.326,884.704,414.369,369.363,783.732,374.109,318.392,692.501,321.311,272.299,593.610,276.279,232.168,508.447,236.792,197.326,434.118,200.616,167.179,367.795,176.525,141.220,317.745,147.126,117.700,264.826,123.896,95.305,219.201,94.572,72.748,167.320,65.057,50.043,115.100,37.983,29.217,67.200,17.012,13.085,30.097,5.023,3.863,8.886,0.863,0.663,1.526,0.078,0.061,0.139,0.004,0.003,0.007,0.0,0.0,0.0,4099.243,3652.874,7752.117,1
1,2,4,Afghanistan,1951,641.199,673.293,1314.492,525.302,502.402,1027.704,465.611,427.618,893.229,416.551,373.790,790.341,376.068,322.212,698.280,325.093,275.402,600.495,278.369,234.514,512.883,238.168,199.147,437.315,200.729,168.621,369.350,175.332,142.158,317.490,146.571,118.227,264.798,122.637,95.518,218.155,94.446,72.956,167.402,65.289,50.510,115.799,38.645,29.886,68.531,17.894,13.841,31.735,5.679,4.391,10.070,1.070,0.828,1.898,0.096,0.076,0.172,0.007,0.005,0.012,0.0,0.0,0.0,4134.756,3705.395,7840.151,1
2,3,4,Afghanistan,1952,650.825,669.274,1320.099,533.097,521.672,1054.769,471.928,434.828,906.756,420.606,380.814,801.420,377.902,327.970,705.872,329.912,280.146,610.058,281.125,238.244,519.369,240.035,202.094,442.129,201.931,171.023,372.954,174.038,143.989,318.027,146.805,119.544,266.349,121.278,96.374,217.652,94.520,73.566,168.086,65.379,51.137,116.516,39.072,30.537,69.609,18.473,14.450,32.923,6.152,4.814,10.966,1.231,0.959,2.190,0.129,0.102,0.231,0.012,0.009,0.021,0.0,0.0,0.0,4174.450,3761.546,7935.996,1
3,4,4,Afghanistan,1953,659.896,663.606,1323.502,538.351,541.216,1079.567,480.448,443.818,924.266,426.345,388.569,814.914,380.115,334.321,714.436,335.371,285.392,620.763,284.678,242.414,527.092,242.491,205.364,447.855,203.993,173.649,377.642,173.035,146.113,319.148,147.487,121.140,268.627,120.099,97.493,217.592,94.721,74.325,169.046,65.402,51.746,117.148,39.309,31.085,70.394,18.724,14.838,33.562,6.366,5.064,11.430,1.325,1.050,2.375,0.165,0.132,0.297,0.015,0.013,0.028,0.0,0.0,0.0,4218.336,3821.348,8039.684,1
4,5,4,Afghanistan,1954,670.694,663.295,1333.989,540.820,557.196,1098.016,489.780,454.597,944.377,433.407,396.277,829.684,383.373,340.817,724.190,340.807,290.764,631.571,289.092,246.713,535.805,245.563,208.698,454.261,206.526,176.264,382.790,172.787,148.308,321.095,148.114,122.843,270.957,119.427,98.755,218.182,94.857,75.167,170.024,65.437,52.309,117.746,39.366,31.504,70.870,18.643,14.991,33.634,6.285,5.110,11.395,1.319,1.071,2.390,0.173,0.142,0.315,0.014,0.011,0.025,0.0,0.0,0.0,4266.484,3884.832,8151.316,1

In [5]:
# Show the last 5 rows
Population_Age_Sex.tail()

,Id,LocID,Location,Time,PopMale_0_4,PopFemale_0_4,PopTotal_0_4,PopMale_5_9,PopFemale_5_9,PopTotal_5_9,PopMale_10_14,PopFemale_10_14,PopTotal_10_14,PopMale_15_19,PopFemale_15_19,PopTotal_15_19,PopMale_20_24,PopFemale_20_24,PopTotal_20_24,PopMale_25_29,PopFemale_25_29,PopTotal_25_29,PopMale_30_34,PopFemale_30_34,PopTotal_30_34,PopMale_35_39,PopFemale_35_39,PopTotal_35_39,PopMale_40_44,PopFemale_40_44,PopTotal_40_44,PopMale_45_49,PopFemale_45_49,PopTotal_45_49,PopMale_50_54,PopFemale_50_54,PopTotal_50_54,PopMale_55_59,PopFemale_55_59,PopTotal_55_59,PopMale_60_64,PopFemale_60_64,PopTotal_60_64,PopMale_65_69,PopFemale_65_69,PopTotal_65_69,PopMale_70_74,PopFemale_70_74,PopTotal_70_74,PopMale_75_79,PopFemale_75_79,PopTotal_75_79,PopMale_80_84,PopFemale_80_84,PopTotal_80_84,PopMale_85_89,PopFemale_85_89,PopTotal_85_89,PopMale_90_94,PopFemale_90_94,PopTotal_90_94,PopMale_95_99,PopFemale_95_99,PopTotal_95_99,PopMale_100Plus,PopFemale_100Plus,PopTotal_100Plus,PopMale,PopFemale,PopTotal,YearDataCompleted
66888,66889,716,Zimbabwe,2096,953.505,939.918,1893.423,968.045,956.123,1924.168,992.221,981.926,1974.147,1018.598,1011.644,2030.242,1036.303,1035.558,2071.861,1041.569,1047.755,2089.324,1036.274,1048.222,2084.496,1025.395,1042.425,2067.820,1021.364,1044.413,2065.777,1024.179,1055.050,2079.229,1008.010,1051.455,2059.465,952.941,1014.002,1966.943,847.686,930.638,1778.324,705.141,812.136,1517.277,556.317,685.589,1241.906,411.521,560.981,972.502,268.846,423.853,692.699,111.019,212.067,323.086,26.279,66.430,92.709,3.108,11.248,14.356,0.142,0.883,1.025,15008.463,15932.316,30940.779,1
66889,66890,716,Zimbabwe,2097,950.059,936.463,1886.522,963.764,951.798,1915.562,986.112,975.843,1961.955,1011.626,1004.809,2016.435,1030.686,1029.915,2060.601,1038.498,1044.543,2083.041,1035.328,1047.215,2082.543,1024.384,1041.470,2065.854,1017.362,1040.448,2057.810,1018.419,1049.495,2067.914,1005.984,1049.548,2055.532,956.876,1018.418,1975.294,857.566,941.670,1799.236,715.855,824.383,1540.238,561.758,692.366,1254.124,411.996,560.682,972.678,268.430,421.238,689.668,120.593,226.440,347.033,29.183,71.814,100.997,4.189,13.881,18.070,0.154,0.947,1.101,15008.822,15943.386,30952.208,1
66890,66891,716,Zimbabwe,2098,946.047,932.455,1878.502,959.864,947.789,1907.653,980.369,970.002,1950.371,1004.916,998.025,2002.941,1024.805,1023.945,2048.750,1034.729,1040.666,2075.395,1034.024,1045.776,2079.800,1023.948,1040.975,2064.923,1014.148,1037.132,2051.280,1012.818,1043.870,2056.688,1003.477,1046.851,2050.328,960.010,1021.609,1981.619,867.565,952.330,1819.895,727.959,837.947,1565.906,569.158,701.589,1270.747,413.991,563.099,977.090,266.765,418.081,684.846,126.636,237.479,364.115,31.169,75.654,106.823,5.003,15.945,20.948,0.169,1.022,1.191,15007.570,15952.241,30959.811,1
66891,66892,716,Zimbabwe,2099,941.631,928.001,1869.632,956.124,943.898,1900.022,975.007,964.429,1939.436,998.601,991.404,1990.005,1018.785,1017.749,2036.534,1030.332,1036.183,2066.515,1032.260,1043.817,2076.077,1023.716,1040.567,2064.283,1011.674,1034.447,2046.121,1007.776,1038.560,2046.336,1000.557,1043.470,2044.027,962.449,1023.690,1986.139,877.319,962.224,1839.543,740.937,852.173,1593.110,578.615,712.991,1291.606,417.858,568.305,986.163,265.623,417.253,682.876,129.055,245.167,374.222,31.499,77.474,108.973,4.960,16.180,21.140,0.185,1.107,1.292,15004.963,15959.089,30964.052,1
66892,66893,716,Zimbabwe,2100,937.118,923.351,1860.469,952.224,939.830,1892.054,970.074,959.175,1929.249,992.694,984.995,1977.689,1012.750,1011.392,2024.142,1025.477,1031.196,2056.673,1029.945,1041.278,2071.223,1023.354,1039.927,2063.281,1009.923,1032.376,2042.299,1003.513,1033.803,2037.316,997.313,1039.527,2036.840,964.296,1024.769,1989.065,886.483,971.026,1857.509,754.436,866.541,1620.977,590.132,726.364,1316.496,423.795,576.359,1000.154,265.750,419.683,685.433,127.913,248.914,376.827,30.277,78.801,109.078,3.581,13.659,17.240,0.204,1.203,1.407,15001.252,15964.169,30965.421,1

In [6]:
#loop through the columns and check the missing values
for col in Population_Age_Sex.columns:
    pct_missing = Population_Age_Sex[col].isnull().mean()
    print(f"{col} - {pct_missing :.1%}")

Id - 0.0%
LocID - 0.0%
Location - 0.0%
Time - 0.0%
PopMale_0_4 - 0.0%
PopFemale_0_4 - 0.0%
PopTotal_0_4 - 0.0%
PopMale_5_9 - 0.0%
PopFemale_5_9 - 0.0%
PopTotal_5_9 - 0.0%
PopMale_10_14 - 0.0%
PopFemale_10_14 - 0.0%
PopTotal_10_14 - 0.0%
PopMale_15_19 - 0.0%
PopFemale_15_19 - 0.0%
PopTotal_15_19 - 0.0%
PopMale_20_24 - 0.0%
PopFemale_20_24 - 0.0%
PopTotal_20_24 - 0.0%
PopMale_25_29 - 0.0%
PopFemale_25_29 - 0.0%
PopTotal_25_29 - 0.0%
PopMale_30_34 - 0.0%
PopFemale_30_34 - 0.0%
PopTotal_30_34 - 0.0%
PopMale_35_39 - 0.0%
PopFemale_35_39 - 0.0%
PopTotal_35_39 - 0.0%
PopMale_40_44 - 0.0%
PopFemale_40_44 - 0.0%
PopTotal_40_44 - 0.0%
PopMale_45_49 - 0.0%
PopFemale_45_49 - 0.0%
PopTotal_45_49 - 0.0%
PopMale_50_54 - 0.0%
PopFemale_50_54 - 0.0%
PopTotal_50_54 - 0.0%
PopMale_55_59 - 0.0%
PopFemale_55_59 - 0.0%
PopTotal_55_59 - 0.0%
PopMale_60_64 - 0.0%
PopFemale_60_64 - 0.0%
PopTotal_60_64 - 0.0%
PopMale_65_69 - 0.0%
PopFemale_65_69 - 0.0%
PopTotal_65_69 - 0.0%
PopMale_70_74 - 0.0%
PopFemale_70_74 - 0.0%
PopTotal_70_74 - 0.0%
PopMale_75_79 - 0.0%
PopFemale_75_79 - 0.0%
PopTotal_75_79 - 0.0%
PopMale_80_84 - 0.0%
PopFemale_80_84 - 0.0%
PopTotal_80_84 - 0.0%
PopMale_85_89 - 0.0%
PopFemale_85_89 - 0.0%
PopTotal_85_89 - 0.0%
PopMale_90_94 - 0.0%
PopFemale_90_94 - 0.0%
PopTotal_90_94 - 0.0%
PopMale_95_99 - 0.0%
PopFemale_95_99 - 0.0%
PopTotal_95_99 - 0.0%
PopMale_100Plus - 0.0%
PopFemale_100Plus - 0.0%
PopTotal_100Plus - 0.0%
PopMale - 0.0%
PopFemale - 0.0%
PopTotal - 0.0%
YearDataCompleted - 0.0%

In [7]:
# Data statistics
Population_Age_Sex.describe().T

,count,mean,std,min,25%,50%,75%,max
Id,66893.0,33447.000000,1.931049e+04,1.000,16724.000,33447.000,50170.000,6.689300e+04
LocID,66893.0,1077.688488,7.290784e+02,4.000,462.000,922.000,1596.000,5.501000e+03
Time,66893.0,2025.000000,4.358932e+01,1950.000,1987.000,2025.000,2063.000,2.100000e+03
PopMale_0_4,66893.0,28467.893812,5.917742e+04,0.545,289.002,2913.602,25678.971,3.535138e+05
PopFemale_0_4,66893.0,27006.915349,5.604457e+04,0.512,278.516,2810.628,24616.830,3.372911e+05
...,...,...,...,...,...,...,...,...
PopTotal_100Plus,66893.0,330.551003,1.319731e+03,0.000,0.097,2.655,47.608,1.909270e+04
PopMale,66893.0,339577.045142,7.439528e+05,6.812,3286.896,34439.569,317489.560,5.445805e+06
PopFemale,66893.0,335464.382981,7.319416e+05,6.889,3269.616,34608.330,322189.018,5.429588e+06
PopTotal,66893.0,675041.428124,1.475830e+06,13.763,6585.116,69631.853,640354.020,1.087539e+07
YearDataCompleted,66893.0,1.000000,0.000000e+00,1.000,1.000,1.000,1.000,1.000000e+00

In [8]:
# Data statistics
Population_Age_Sex.describe(include="object").T

          count unique                              top freq
Location  66893    440  Latin America and the Caribbean  302

In [9]:
# Check duplicates row
duplicates = Population_Age_Sex.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 0

In [10]:
# Check duplicates based on Location and Time
duplicates_location_time = Population_Age_Sex.duplicated(subset=["Location","Time"]).sum()
print(f"Number of duplicate rows: {duplicates_location_time}")

Number of duplicate rows: 453

In [11]:
# Duplicated values
Population_Age_Sex[Population_Age_Sex.duplicated(subset=["Location","Time"])]["Location"].value_counts()

Location
Europe                             151
Latin America and the Caribbean    151
Northern America                   151
Name: count, dtype: int64

In [12]:
# Locations that have more than 1 unique LocID
duplicates = Population_Age_Sex.groupby('Location')['LocID'].nunique()
duplicates = duplicates[duplicates > 1]
print(duplicates)

Location
Europe                             2
Latin America and the Caribbean    2
Northern America                   2
Name: LocID, dtype: int64

In [13]:
# Data profiling
"""
profile = ProfileReport(Population_Age_Sex,title="Population_Age_Sex",minimal=True) # Summarize and profile the data

profile.to_file("Population_Age_Sex.html")   # Save report to HTML file 
"""

'\nprofile = ProfileReport(Population_Age_Sex,title="Population_Age_Sex",minimal=True) # Summarize and profile the data\n\nprofile.to_file("Population_Age_Sex.html")   # Save report to HTML file \n'

#### Data Wrangling

In [14]:
Population_Age_Sex.head(1)

,Id,LocID,Location,Time,PopMale_0_4,PopFemale_0_4,PopTotal_0_4,PopMale_5_9,PopFemale_5_9,PopTotal_5_9,PopMale_10_14,PopFemale_10_14,PopTotal_10_14,PopMale_15_19,PopFemale_15_19,PopTotal_15_19,PopMale_20_24,PopFemale_20_24,PopTotal_20_24,PopMale_25_29,PopFemale_25_29,PopTotal_25_29,PopMale_30_34,PopFemale_30_34,PopTotal_30_34,PopMale_35_39,PopFemale_35_39,PopTotal_35_39,PopMale_40_44,PopFemale_40_44,PopTotal_40_44,PopMale_45_49,PopFemale_45_49,PopTotal_45_49,PopMale_50_54,PopFemale_50_54,PopTotal_50_54,PopMale_55_59,PopFemale_55_59,PopTotal_55_59,PopMale_60_64,PopFemale_60_64,PopTotal_60_64,PopMale_65_69,PopFemale_65_69,PopTotal_65_69,PopMale_70_74,PopFemale_70_74,PopTotal_70_74,PopMale_75_79,PopFemale_75_79,PopTotal_75_79,PopMale_80_84,PopFemale_80_84,PopTotal_80_84,PopMale_85_89,PopFemale_85_89,PopTotal_85_89,PopMale_90_94,PopFemale_90_94,PopTotal_90_94,PopMale_95_99,PopFemale_95_99,PopTotal_95_99,PopMale_100Plus,PopFemale_100Plus,PopTotal_100Plus,PopMale,PopFemale,PopTotal,YearDataCompleted
0,1,4,Afghanistan,1950,630.044,661.578,1291.622,516.206,487.335,1003.541,461.378,423.326,884.704,414.369,369.363,783.732,374.109,318.392,692.501,321.311,272.299,593.61,276.279,232.168,508.447,236.792,197.326,434.118,200.616,167.179,367.795,176.525,141.22,317.745,147.126,117.7,264.826,123.896,95.305,219.201,94.572,72.748,167.32,65.057,50.043,115.1,37.983,29.217,67.2,17.012,13.085,30.097,5.023,3.863,8.886,0.863,0.663,1.526,0.078,0.061,0.139,0.004,0.003,0.007,0.0,0.0,0.0,4099.243,3652.874,7752.117,1

In [15]:
# Drop unnecessary columns
Population_Age_Sex_1 = Population_Age_Sex.drop(columns=["Id","YearDataCompleted"])

In [16]:
# Rename columns
Population_Age_Sex_2 = Population_Age_Sex_1.rename(columns={"Location":"Country","Time":"Year"})

In [17]:
# Divide age into groups
age_groups = {
    "Children_0_14": ['PopMale_0_4', 'PopFemale_0_4', 'PopMale_5_9', 'PopFemale_5_9', 
                    'PopMale_10_14', 'PopFemale_10_14'],
    "YoungAdults_15_24": ['PopMale_15_19', 'PopFemale_15_19', 
                          'PopMale_20_24', 'PopFemale_20_24'],
    "WorkingAdults_25_44": ['PopMale_25_29', 'PopFemale_25_29', 
                            'PopMale_30_34', 'PopFemale_30_34', 
                            'PopMale_35_39', 'PopFemale_35_39',
                            'PopMale_40_44', 'PopFemale_40_44'],
    "MatureAdults_45_64": ['PopMale_45_49', 'PopFemale_45_49', 
                           'PopMale_50_54', 'PopFemale_50_54', 
                           'PopMale_55_59', 'PopFemale_55_59',
                           'PopMale_60_64', 'PopFemale_60_64'],
    "Elderly_65Plus": ['PopMale_65_69', 'PopFemale_65_69',
                       'PopMale_70_74', 'PopFemale_70_74',
                       'PopMale_75_79', 'PopFemale_75_79',
                       'PopMale_80_84', 'PopFemale_80_84',
                       'PopMale_85_89', 'PopFemale_85_89',
                       'PopMale_90_94', 'PopFemale_90_94',
                       'PopMale_95_99', 'PopFemale_95_99',
                       'PopMale_100Plus', 'PopFemale_100Plus']
            }

# Add new columns for each age group
for group_name, columns in age_groups.items():
    Population_Age_Sex_2[f"{group_name}_Male"] = Population_Age_Sex_2[[col for col in columns if "Male" in col]].sum(axis=1)
    Population_Age_Sex_2[f"{group_name}_Female"] = Population_Age_Sex_2[[col for col in columns if "Female" in col]].sum(axis=1)
    Population_Age_Sex_2[f"{group_name}_Total"] = Population_Age_Sex_2[f"{group_name}_Male"] + Population_Age_Sex_2[f"{group_name}_Female"]

In [18]:
# Check if age groups were divided correctly
new =  Population_Age_Sex_2["Children_0_14_Male"].sum()
old = (Population_Age_Sex_2[["PopMale_0_4","PopMale_5_9","PopMale_10_14"]].sum()).sum()
print(f"New:{new}, Old: {old}")

New:5541837016.446, Old: 5541837016.446

In [19]:
# Check if age groups were divided correctly
new = Population_Age_Sex_2["WorkingAdults_25_44_Female"].sum()
old = (Population_Age_Sex_2[["PopFemale_25_29","PopFemale_30_34","PopFemale_35_39","PopFemale_40_44"]].sum()).sum()
print(f"New:{new}, Old: {old}")

New:5844074542.214, Old: 5844074542.214001

In [20]:
# Drop old ages columns
Population_Age_Sex_3 = Population_Age_Sex_2.drop(columns=['PopMale_0_4', 'PopFemale_0_4',
       'PopTotal_0_4', 'PopMale_5_9', 'PopFemale_5_9', 'PopTotal_5_9',
       'PopMale_10_14', 'PopFemale_10_14', 'PopTotal_10_14', 'PopMale_15_19',
       'PopFemale_15_19', 'PopTotal_15_19', 'PopMale_20_24', 'PopFemale_20_24',
       'PopTotal_20_24', 'PopMale_25_29', 'PopFemale_25_29', 'PopTotal_25_29',
       'PopMale_30_34', 'PopFemale_30_34', 'PopTotal_30_34', 'PopMale_35_39',
       'PopFemale_35_39', 'PopTotal_35_39', 'PopMale_40_44', 'PopFemale_40_44',
       'PopTotal_40_44', 'PopMale_45_49', 'PopFemale_45_49', 'PopTotal_45_49',
       'PopMale_50_54', 'PopFemale_50_54', 'PopTotal_50_54', 'PopMale_55_59',
       'PopFemale_55_59', 'PopTotal_55_59', 'PopMale_60_64', 'PopFemale_60_64',
       'PopTotal_60_64', 'PopMale_65_69', 'PopFemale_65_69', 'PopTotal_65_69',
       'PopMale_70_74', 'PopFemale_70_74', 'PopTotal_70_74', 'PopMale_75_79',
       'PopFemale_75_79', 'PopTotal_75_79', 'PopMale_80_84', 'PopFemale_80_84',
       'PopTotal_80_84', 'PopMale_85_89', 'PopFemale_85_89', 'PopTotal_85_89',
       'PopMale_90_94', 'PopFemale_90_94', 'PopTotal_90_94', 'PopMale_95_99',
       'PopFemale_95_99', 'PopTotal_95_99', 'PopMale_100Plus',
       'PopFemale_100Plus', 'PopTotal_100Plus'])

In [21]:
# Ensure country consistency and format 
Population_Age_Sex_3["Country"] = Population_Age_Sex_3["Country"].str.title().str.strip()

In [22]:
# Calcualte male to female ratio for each group
population_columns = [
    ('PopMale', 'PopFemale', 'Male_Female_Ratio'),
    ('Children_0_14_Male', 'Children_0_14_Female', 'Children_0_14_MF_Ratio'),
    ('YoungAdults_15_24_Male', 'YoungAdults_15_24_Female', 'YoungAdults_15_24_MF_Ratio'),
    ('WorkingAdults_25_44_Male', 'WorkingAdults_25_44_Female', 'WorkingAdults_25_44_MF_Ratio'),
    ('MatureAdults_45_64_Male', 'MatureAdults_45_64_Female', 'MatureAdults_45_64_MF_Ratio'),
    ('Elderly_65Plus_Male', 'Elderly_65Plus_Female', 'Elderly_65Plus_MF_Ratio')
                    ]

# Calculate male-to-female ratios for all specified groups
for male_col, female_col, ratio_col in population_columns:
    Population_Age_Sex_3[ratio_col] = Population_Age_Sex_3[male_col] / Population_Age_Sex_3[female_col]

In [23]:
# Show the final dataset
Population_Age_Sex_final = Population_Age_Sex_3.copy()
Population_Age_Sex_final.head(2)

,LocID,Country,Year,PopMale,PopFemale,PopTotal,Children_0_14_Male,Children_0_14_Female,Children_0_14_Total,YoungAdults_15_24_Male,YoungAdults_15_24_Female,YoungAdults_15_24_Total,WorkingAdults_25_44_Male,WorkingAdults_25_44_Female,WorkingAdults_25_44_Total,MatureAdults_45_64_Male,MatureAdults_45_64_Female,MatureAdults_45_64_Total,Elderly_65Plus_Male,Elderly_65Plus_Female,Elderly_65Plus_Total,Male_Female_Ratio,Children_0_14_MF_Ratio,YoungAdults_15_24_MF_Ratio,WorkingAdults_25_44_MF_Ratio,MatureAdults_45_64_MF_Ratio,Elderly_65Plus_MF_Ratio
0,4,Afghanistan,1950,4099.243,3652.874,7752.117,1607.628,1572.239,3179.867,788.478,687.755,1476.233,1034.998,868.972,1903.970,542.119,426.973,969.092,126.02,96.935,222.955,1.122197,1.022509,1.146452,1.191060,1.269680,1.300046
1,4,Afghanistan,1951,4134.756,3705.395,7840.151,1632.112,1603.313,3235.425,792.619,696.002,1488.621,1042.359,877.684,1920.043,538.986,428.859,967.845,128.68,99.537,228.217,1.115875,1.017962,1.138817,1.187624,1.256791,1.292786

### Violent and Sexual Crime (2003 – 2022) Dataset

#### Data Profiling

In [24]:
# Data information
violent_and_sexual_crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26114 entries, 0 to 26113
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Iso3_code            26114 non-null  object
 1   Country              26114 non-null  object
 2   Region               26114 non-null  object
 3   Subregion            26114 non-null  object
 4   Indicator            26114 non-null  object
 5   Dimension            26114 non-null  object
 6   Category             26114 non-null  object
 7   Sex                  26114 non-null  object
 8   Age                  26114 non-null  object
 9   Year                 26114 non-null  int64
 10  Unit of measurement  26114 non-null  object
 11  VALUE                26114 non-null  float64
 12  Source               26114 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 2.6+ MB

In [25]:
# Show the first 5 rows
violent_and_sexual_crime.head()

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source
0,AZE,Azerbaijan,Asia,Western Asia,Violent offences,by type of offence,Serious assault,Total,Total,2003,Counts,155.0,CTS
1,BEL,Belgium,Europe,Western Europe,Violent offences,by type of offence,Serious assault,Total,Total,2003,Counts,61959.0,CTS
2,BGR,Bulgaria,Europe,Eastern Europe,Violent offences,by type of offence,Serious assault,Total,Total,2003,Counts,3806.0,CTS
3,BHR,Bahrain,Asia,Western Asia,Violent offences,by type of offence,Serious assault,Total,Total,2003,Counts,2701.0,CTS
4,BLR,Belarus,Europe,Eastern Europe,Violent offences,by type of offence,Serious assault,Total,Total,2003,Counts,4032.0,CTS

In [26]:
# Show the last 5 rows
violent_and_sexual_crime.tail()

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source
26109,MNE,Montenegro,Europe,Southern Europe,Violent offences,by type of offence,Acts intended to induce fear or emotional dist...,Total,Total,2021,"Rate per 100,000 population",1.592716,CTS
26110,MUS,Mauritius,Africa,Sub-Saharan Africa,Violent offences,by type of offence,Acts intended to induce fear or emotional dist...,Total,Total,2021,"Rate per 100,000 population",26.329667,CTS
26111,SLV,El Salvador,Americas,Latin America and the Caribbean,Violent offences,by type of offence,Acts intended to induce fear or emotional dist...,Total,Total,2021,"Rate per 100,000 population",0.063350,CTS
26112,SRB,Serbia,Europe,Southern Europe,Violent offences,by type of offence,Acts intended to induce fear or emotional dist...,Total,Total,2021,"Rate per 100,000 population",0.013705,CTS
26113,SWZ,Eswatini,Africa,Sub-Saharan Africa,Violent offences,by type of offence,Acts intended to induce fear or emotional dist...,Total,Total,2021,"Rate per 100,000 population",0.000000,CTS

In [27]:
#loop through the columns and check the missing values
for col in violent_and_sexual_crime.columns:
    pct_missing = violent_and_sexual_crime[col].isnull().mean()
    print(f"{col} - {pct_missing :.1%}")

Iso3_code - 0.0%
Country - 0.0%
Region - 0.0%
Subregion - 0.0%
Indicator - 0.0%
Dimension - 0.0%
Category - 0.0%
Sex - 0.0%
Age - 0.0%
Year - 0.0%
Unit of measurement - 0.0%
VALUE - 0.0%
Source - 0.0%

In [28]:
# Data statistics
violent_and_sexual_crime.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,26114.0,2015.013250,5.169799,2003.0,2011.000000,2016.000000,2019.0,2022.0
VALUE,26114.0,4422.568304,35003.600857,0.0,4.052739,35.615407,393.0,949193.0

In [29]:
# Data statistics
violent_and_sexual_crime.describe(include="object").T

                     count unique                              top   freq
Iso3_code            26114    157                              AUT    558
Country              26114    157                          Austria    558
Region               26114      5                           Europe  12002
Subregion            26114     15  Latin America and the Caribbean   6578
Indicator            26114      3                 Violent offences  19848
Dimension            26114      2               by type of offence  19848
Category             26114     13            Sexual violence: Rape   4006
Sex                  26114      3                            Total  19848
Age                  26114      1                            Total  26114
Unit of measurement  26114      2                           Counts  13073
Source               26114     18                              CTS  24578

In [30]:
# Check duplicates row
duplicates = violent_and_sexual_crime.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 0

In [31]:
# Data profiling
"""
profile = ProfileReport(violent_and_sexual_crime,title="violent_and_sexual_crime",minimal=True) # Summarize and profile the data

profile.to_file("violent_and_sexual_crime.html")   # Save report to HTML file 
"""

'\nprofile = ProfileReport(violent_and_sexual_crime,title="violent_and_sexual_crime",minimal=True) # Summarize and profile the data\n\nprofile.to_file("violent_and_sexual_crime.html")   # Save report to HTML file \n'

#### Data Wrangling

In [32]:
# Ensure object columns format and consistency 
col_without_numeric = list(violent_and_sexual_crime.select_dtypes(exclude=("float","int")).columns)
for col in col_without_numeric:
    print(f"Before '{col}': {len(set(violent_and_sexual_crime[col]))} / After '{col}': {len(set(violent_and_sexual_crime[col].str.title().str.strip()))}")

Before 'Iso3_code': 157 / After 'Iso3_code': 157
Before 'Country': 157 / After 'Country': 157
Before 'Region': 5 / After 'Region': 5
Before 'Subregion': 15 / After 'Subregion': 15
Before 'Indicator': 3 / After 'Indicator': 3
Before 'Dimension': 2 / After 'Dimension': 2
Before 'Category': 13 / After 'Category': 13
Before 'Sex': 3 / After 'Sex': 3
Before 'Age': 1 / After 'Age': 1
Before 'Unit of measurement': 2 / After 'Unit of measurement': 2
Before 'Source': 18 / After 'Source': 18

In [33]:
# Filter column Indicator on Violent offences
violent_and_sexual_crime_1 = violent_and_sexual_crime[violent_and_sexual_crime["Indicator"] == "Violent offences"].copy()

In [34]:
# Drop unnecessary columns
violent_and_sexual_crime_2 = violent_and_sexual_crime_1.drop(columns=["Dimension","Sex","Age","Source"])

In [35]:
# Filter Unit of measurement to keep only Rate per 100,000 population
violent_and_sexual_crime_3 = violent_and_sexual_crime_2[violent_and_sexual_crime_2["Unit of measurement"] == "Rate per 100,000 population"].copy()

In [36]:
# Drop column Unit of measurement
violent_and_sexual_crime_4 = violent_and_sexual_crime_3.drop(columns=["Unit of measurement"])

In [37]:
# Change column name
violent_and_sexual_crime_5 = violent_and_sexual_crime_4.rename(columns={"VALUE":"Crime_rate_per_100000_population","Category":"Crime_category"})

In [38]:
# Check the countries with 0 crime Rate_per_10000_pop
violent_and_sexual_crime_5[violent_and_sexual_crime_5["Crime_rate_per_100000_population"] == 0]["Country"].value_counts().head(10)

Country
Holy See                                      43
Grenada                                       38
Dominica                                      20
Liechtenstein                                 19
Lithuania                                     17
Andorra                                       16
Malta                                         15
Guyana                                        14
Sao Tome and Principe                         13
China, Macao Special Administrative Region    13
Name: count, dtype: int64

In [39]:
# Remove rows with 0 values in Rate_per_10000_pop column
violent_and_sexual_crime_6 = violent_and_sexual_crime_5[violent_and_sexual_crime_5["Crime_rate_per_100000_population"] > 0].copy()

In [40]:
# Chane the value Violent offences in Indicator to violent and sexual to merge the dataset with corruption and economic crime
violent_and_sexual_crime_6["Indicator"] = violent_and_sexual_crime_6["Indicator"].str.replace("Violent offences","Violent and Sexual")

In [41]:
# Show the final dataset
violent_and_sexual_crime_final = violent_and_sexual_crime_6.copy()
violent_and_sexual_crime_final.head(2)

,Iso3_code,Country,Region,Subregion,Indicator,Crime_category,Year,Crime_rate_per_100000_population
13073,AZE,Azerbaijan,Asia,Western Asia,Violent and Sexual,Serious assault,2003,1.831649
13074,BEL,Belgium,Europe,Western Europe,Violent and Sexual,Serious assault,2003,595.613518

### Corruption and Economic Crime (2003 – 2022) Dataset

#### Data Profiling

In [42]:
# Data information
corruption_and_economic_crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22754 entries, 0 to 22753
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Iso3_code            22754 non-null  object
 1   Country              22754 non-null  object
 2   Region               22754 non-null  object
 3   Subregion            22754 non-null  object
 4   Indicator            22754 non-null  object
 5   Dimension            22754 non-null  object
 6   Category             22754 non-null  object
 7   Sex                  22754 non-null  object
 8   Age                  22754 non-null  object
 9   Year                 22754 non-null  int64
 10  Unit of measurement  22754 non-null  object
 11  VALUE                22754 non-null  float64
 12  Source               22754 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 2.3+ MB

In [43]:
# Show the first 5 rows 
corruption_and_economic_crime.head()

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source
0,ARM,Armenia,Asia,Western Asia,Offences,by type of offence,Corruption,Total,Total,2013,Counts,782.0,CTS
1,AUT,Austria,Europe,Western Europe,Offences,by type of offence,Corruption,Total,Total,2013,Counts,3439.0,CTS
2,CHE,Switzerland,Europe,Western Europe,Offences,by type of offence,Corruption,Total,Total,2013,Counts,4884.0,CTS
3,CHL,Chile,Americas,Latin America and the Caribbean,Offences,by type of offence,Corruption,Total,Total,2013,Counts,339.0,CTS
4,COL,Colombia,Americas,Latin America and the Caribbean,Offences,by type of offence,Corruption,Total,Total,2013,Counts,23483.0,CTS

In [44]:
# Show the last 5 rows
corruption_and_economic_crime.tail()

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source
22749,SRB,Serbia,Europe,Southern Europe,Acts against the environment,by type of offence,Acts that result in the depletion of degradati...,Total,Total,2021,"Rate per 100,000 population",6.920871,CTS
22750,SVK,Slovakia,Europe,Eastern Europe,Acts against the environment,by type of offence,Acts that result in the depletion of degradati...,Total,Total,2021,"Rate per 100,000 population",4.258739,CTS
22751,SVN,Slovenia,Europe,Southern Europe,Acts against the environment,by type of offence,Acts that result in the depletion of degradati...,Total,Total,2021,"Rate per 100,000 population",2.595062,CTS
22752,SWE,Sweden,Europe,Northern Europe,Acts against the environment,by type of offence,Acts that result in the depletion of degradati...,Total,Total,2021,"Rate per 100,000 population",8.302206,CTS
22753,SWZ,Eswatini,Africa,Sub-Saharan Africa,Acts against the environment,by type of offence,Acts that result in the depletion of degradati...,Total,Total,2021,"Rate per 100,000 population",0.000000,CTS

In [45]:
#loop through the columns and check the missing values
for col in corruption_and_economic_crime.columns:
    pct_missing = corruption_and_economic_crime[col].isnull().mean()
    print(f"{col} - {pct_missing :.1%}")

Iso3_code - 0.0%
Country - 0.0%
Region - 0.0%
Subregion - 0.0%
Indicator - 0.0%
Dimension - 0.0%
Category - 0.0%
Sex - 0.0%
Age - 0.0%
Year - 0.0%
Unit of measurement - 0.0%
VALUE - 0.0%
Source - 0.0%

In [46]:
# Data statistics
corruption_and_economic_crime.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,22754.0,2015.348159,5.059154,2003.0,2013.0,2017.000000,2019.00000,2022.0
VALUE,22754.0,26752.747120,213446.469070,0.0,6.0,127.296302,1484.81667,7026802.0

In [47]:
# Data statistics
corruption_and_economic_crime.describe(include="object").T

                     count unique                              top   freq
Iso3_code            22754    157                              SVK    372
Country              22754    157                         Slovakia    372
Region               22754      5                           Europe  11338
Subregion            22754     15  Latin America and the Caribbean   5282
Indicator            22754      2                         Offences  20414
Dimension            22754      1               by type of offence  22754
Category             22754     17                            Theft   3808
Sex                  22754      1                            Total  22754
Age                  22754      1                            Total  22754
Unit of measurement  22754      2                           Counts  11377
Source               22754     15                              CTS  21610

In [48]:
# Check duplicates row
duplicates = corruption_and_economic_crime.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 0

In [49]:
# Data profiling
"""
profile = ProfileReport(corruption_and_economic_crime,title="corruption_and_economic_crime",minimal=True) # Summarize and profile the data

profile.to_file("corruption_and_economic_crime.html")   # Save report to HTML file 
"""

'\nprofile = ProfileReport(corruption_and_economic_crime,title="corruption_and_economic_crime",minimal=True) # Summarize and profile the data\n\nprofile.to_file("corruption_and_economic_crime.html")   # Save report to HTML file \n'

#### Data Wrangling

In [50]:
# Ensure object columns format and consistency 
col_without_numeric = list(corruption_and_economic_crime.select_dtypes(exclude=("float","int")).columns)
for col in col_without_numeric:
    print(f"Before '{col}': {len(set(corruption_and_economic_crime[col]))} / After '{col}': {len(set(corruption_and_economic_crime[col].str.title().str.strip()))}")

Before 'Iso3_code': 157 / After 'Iso3_code': 157
Before 'Country': 157 / After 'Country': 157
Before 'Region': 5 / After 'Region': 5
Before 'Subregion': 15 / After 'Subregion': 15
Before 'Indicator': 2 / After 'Indicator': 2
Before 'Dimension': 1 / After 'Dimension': 1
Before 'Category': 17 / After 'Category': 17
Before 'Sex': 1 / After 'Sex': 1
Before 'Age': 1 / After 'Age': 1
Before 'Unit of measurement': 2 / After 'Unit of measurement': 2
Before 'Source': 15 / After 'Source': 15

In [51]:
# Filter column Indicator on Violent offences
corruption_and_economic_crime_1 = corruption_and_economic_crime[corruption_and_economic_crime["Indicator"] == "Offences"].copy()

In [52]:
# Drop unnecessary columns
corruption_and_economic_crime_2 = corruption_and_economic_crime_1.drop(columns=["Dimension","Sex","Age","Source"])

In [53]:
# Filter Unit of measurement to keep only Rate per 100,000 population
corruption_and_economic_crime_3 = corruption_and_economic_crime_2[corruption_and_economic_crime_2["Unit of measurement"] == "Rate per 100,000 population"].copy()

In [54]:
# Drop column Unit of measurement
corruption_and_economic_crime_4 = corruption_and_economic_crime_3.drop(columns=["Unit of measurement"])

In [55]:
# Change column name
corruption_and_economic_crime_5 = corruption_and_economic_crime_4.rename(columns={"VALUE":"Crime_rate_per_100000_population","Category":"Crime_category"})

In [56]:
# Check the countries with 0 crime Rate_per_10000_pop
corruption_and_economic_crime_5[corruption_and_economic_crime_5["Crime_rate_per_100000_population"] == 0]["Country"].value_counts().head(10)

Country
Grenada                              60
Holy See                             41
Barbados                             37
Dominica                             35
Guyana                               22
Saint Kitts and Nevis                19
Antigua and Barbuda                  17
Bahamas                              15
Belize                               15
United Kingdom (Northern Ireland)    13
Name: count, dtype: int64

In [57]:
# Remove rows with 0 values in Rate_per_10000_pop column
corruption_and_economic_crime_6 = corruption_and_economic_crime_5[corruption_and_economic_crime_5["Crime_rate_per_100000_population"] > 0].copy()

In [58]:
# Chane the value Offences in Indicator to corruption and economic to merge the dataset with violent_and_sexual_crime
corruption_and_economic_crime_6["Indicator"] = corruption_and_economic_crime_6["Indicator"].str.replace("Offences","Corruption and Economic")

In [59]:
# Show the final dataset
corruption_and_economic_crime_final = corruption_and_economic_crime_6.copy()
corruption_and_economic_crime_final.head(2)

,Iso3_code,Country,Region,Subregion,Indicator,Crime_category,Year,Crime_rate_per_100000_population
11377,ARM,Armenia,Asia,Western Asia,Corruption and Economic,Corruption,2013,26.952645
11378,AUT,Austria,Europe,Western Europe,Corruption and Economic,Corruption,2013,40.556450

### Total government Expenditure on Education GDP Dataset

#### Data Profiling

In [60]:
# Data information
total_government_expenditure_on_education_gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5676 entries, 0 to 5675
Data columns (total 4 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Entity                                          5676 non-null   object
 1   Code                                            5248 non-null   object
 2   Year                                            5676 non-null   int64
 3   Public spending on education as a share of GDP  5676 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 177.5+ KB

In [61]:
# Show the first 5 rows 
total_government_expenditure_on_education_gdp.head()

        Entity Code  Year  Public spending on education as a share of GDP
0  Afghanistan  AFG  2006                                        4.684761
1  Afghanistan  AFG  2007                                        4.174895
2  Afghanistan  AFG  2008                                        4.383672
3  Afghanistan  AFG  2009                                        4.810640
4  Afghanistan  AFG  2010                                        3.479450

In [62]:
# Show the last 5 rows
total_government_expenditure_on_education_gdp.tail()

        Entity Code  Year  Public spending on education as a share of GDP
5671  Zimbabwe  ZWE  2012                                         6.07021
5672  Zimbabwe  ZWE  2013                                         5.99598
5673  Zimbabwe  ZWE  2014                                         6.13835
5674  Zimbabwe  ZWE  2017                                         5.81878
5675  Zimbabwe  ZWE  2018                                         2.05049

In [63]:
#loop through the columns and check the missing values
for col in total_government_expenditure_on_education_gdp.columns:
    pct_missing = total_government_expenditure_on_education_gdp[col].isnull().mean()
    print(f"{col} - {pct_missing :.1%}")

Entity - 0.0%
Code - 7.5%
Year - 0.0%
Public spending on education as a share of GDP - 0.0%

In [64]:
# Data statistics
total_government_expenditure_on_education_gdp.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,5676.0,2002.662967,15.650096,1870.0,1993.000000,2006.000000,2015.00000,2023.00000
Public spending on education as a share of GDP,5676.0,4.324355,2.076605,0.0,3.063535,4.195975,5.31437,66.90031

In [65]:
# Data statistics
total_government_expenditure_on_education_gdp.describe(include="object").T

       count unique     top freq
Entity  5676    220  Norway   54
Code    5248    204     FRA   54

In [66]:
# Check duplicates row
duplicates = total_government_expenditure_on_education_gdp.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 0

In [67]:
# Data profiling
"""
profile = ProfileReport(total_government_expenditure_on_education_gdp,title="total_government_expenditure_on_education_gdp",minimal=True) # Summarize and profile the data

profile.to_file("total_government_expenditure_on_education_gdp.html")   # Save report to HTML file 
"""

'\nprofile = ProfileReport(total_government_expenditure_on_education_gdp,title="total_government_expenditure_on_education_gdp",minimal=True) # Summarize and profile the data\n\nprofile.to_file("total_government_expenditure_on_education_gdp.html")   # Save report to HTML file \n'

#### Data Wrangling

In [68]:
# Ensure object columns format and consistency 
col_without_numeric = list(total_government_expenditure_on_education_gdp.select_dtypes(exclude=("float","int")).columns)
for col in col_without_numeric:
    print(f"Before '{col}': {len(set(total_government_expenditure_on_education_gdp[col]))} / After '{col}': {len(set(total_government_expenditure_on_education_gdp[col].str.title().str.strip()))}")

Before 'Entity': 220 / After 'Entity': 220
Before 'Code': 205 / After 'Code': 205

In [69]:
# Change column names
total_government_expenditure_on_education_gdp_1 = total_government_expenditure_on_education_gdp.rename(columns={"Entity":"Country",
                                                                                                                "Public spending on education as a share of GDP":"Puplic_education_spending%_of_gdp"})

In [70]:
# Drop unnecessary columns
total_government_expenditure_on_education_gdp_2 = total_government_expenditure_on_education_gdp_1.drop(columns = ["Code"])

In [71]:
# Show the final dataset
total_government_expenditure_on_education_gdp_final = total_government_expenditure_on_education_gdp_2.copy()
total_government_expenditure_on_education_gdp_final.head(2)

       Country  Year  Puplic_education_spending%_of_gdp
0  Afghanistan  2006                           4.684761
1  Afghanistan  2007                           4.174895

### Countries of the World Dataset

#### Data Profiling

In [72]:
# Data information
countries_of_the_world.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Countries    250 non-null    object
 1   Capital      242 non-null    object
 2   Population   250 non-null    int64
 3   Area(Sq.Km)  250 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 7.9+ KB

In [73]:
# Show the first 5 rows
countries_of_the_world.head()

              Countries           Capital  Population  Area(Sq.Km)
0               Andorra  Andorra la Vella       84000        468.0
1  United Arab Emirates         Abu Dhabi     4975593      82880.0
2           Afghanistan             Kabul    29121286     647500.0
3   Antigua and Barbuda        St. John's       86754        443.0
4              Anguilla        The Valley       13254        102.0

In [74]:
# Show the last 5 rows
countries_of_the_world.tail()

        Countries    Capital  Population  Area(Sq.Km)
245         Yemen      Sanaa    23495361     527970.0
246       Mayotte  Mamoudzou      159042        374.0
247  South Africa   Pretoria    49000000    1219912.0
248        Zambia     Lusaka    13460305     752614.0
249      Zimbabwe     Harare    11651858     390580.0

In [75]:
#loop through the columns and check the missing values
for col in countries_of_the_world.columns:
    pct_missing = countries_of_the_world[col].isnull().mean()
    print(f"{col} - {pct_missing :.1%}")

Countries - 0.0%
Capital - 3.2%
Population - 0.0%
Area(Sq.Km) - 0.0%

In [76]:
# Data statistics
countries_of_the_world.describe().T

,count,mean,std,min,25%,50%,75%,max
Population,250.0,2.744568e+07,1.168626e+08,0.0,179856.25,4288138.5,15420625.0,1.330044e+09
Area(Sq.Km),250.0,5.996369e+05,1.911821e+06,0.0,1174.75,64894.5,372631.5,1.710000e+07

In [77]:
# Data statistics
countries_of_the_world.describe(include="object").T

          count unique       top freq
Countries   250    250   Andorra    1
Capital     242    241  Kingston    2

In [78]:
# Check duplicates row
duplicates = countries_of_the_world.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 0

In [79]:
# Data profiling
"""
profile = ProfileReport(countries_of_the_world,title="countries_of_the_world",minimal=True) # Summarize and profile the data

profile.to_file("countries_of_the_world.html")   # Save report to HTML file 
"""

'\nprofile = ProfileReport(countries_of_the_world,title="countries_of_the_world",minimal=True) # Summarize and profile the data\n\nprofile.to_file("countries_of_the_world.html")   # Save report to HTML file \n'

#### Data Wrangling

In [80]:
# Ensure object columns format and consistency 
col_without_numeric = list(countries_of_the_world.select_dtypes(exclude=("float","int")).columns)
for col in col_without_numeric:
    print(f"Before '{col}': {len(set(countries_of_the_world[col]))} / After '{col}': {len(set(countries_of_the_world[col].str.title().str.strip()))}")

Before 'Countries': 250 / After 'Countries': 250
Before 'Capital': 242 / After 'Capital': 242

In [81]:
# Change column names
countries_of_the_world_1 = countries_of_the_world.rename(columns={"Countries":"Country"})

In [82]:
# Drop unnecessary columns
countries_of_the_world_2 = countries_of_the_world_1.drop(columns = ["Capital","Population"])

In [83]:
# Check the countries with 0 crime Rate_per_10000_pop
countries_of_the_world_2[countries_of_the_world_2["Area(Sq.Km)"] == 0]["Country"].value_counts().head(10)

Country
U.S. Minor Outlying Islands    1
Name: count, dtype: int64

In [84]:
# Remove rows with 0 values in Rate_per_10000_pop column
countries_of_the_world_3 = countries_of_the_world_2[countries_of_the_world_2["Area(Sq.Km)"] > 0].copy()

In [85]:
# Show the final dataset
countries_of_the_world_final = countries_of_the_world_3.copy()
countries_of_the_world_final.head(2)

                Country  Area(Sq.Km)
0               Andorra        468.0
1  United Arab Emirates      82880.0

## Final dataset (Merged data)

#### Merging data

In [86]:
# Append violent_and_sexual_crime_final corruption_and_economic_crime_final
crime_final = pd.concat([violent_and_sexual_crime_final,corruption_and_economic_crime_final],axis=0,ignore_index=True)
crime_final.head(2)

,Iso3_code,Country,Region,Subregion,Indicator,Crime_category,Year,Crime_rate_per_100000_population
0,AZE,Azerbaijan,Asia,Western Asia,Violent and Sexual,Serious assault,2003,1.831649
1,BEL,Belgium,Europe,Western Europe,Violent and Sexual,Serious assault,2003,595.613518

In [87]:
# Check data statistics 
crime_final.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,19292.0,2014.437280,5.335623,2003.000000,2010.000000,2016.000000,2019.000000,2022.000000
Crime_rate_per_100000_population,19292.0,158.122869,416.038718,0.000823,2.517417,16.061524,92.831149,5321.319462

In [88]:
# Check data statistics 
crime_final.describe(include="object").T

                count unique                              top  freq
Iso3_code       19292    159                              AUT   264
Country         19292    159                          Austria   264
Region          19292      5                           Europe  8902
Subregion       19292     15  Latin America and the Caribbean  4409
Indicator       19292      2          Corruption and Economic  9766
Crime_category  19292     22            Sexual violence: Rape  1983

In [89]:
# Merge crime and Population_Age_Sex_final
df_1 = pd.merge(Population_Age_Sex_final,crime_final,on=["Country","Year"],how="inner")
df_1.head(2)

,LocID,Country,Year,PopMale,PopFemale,PopTotal,Children_0_14_Male,Children_0_14_Female,Children_0_14_Total,YoungAdults_15_24_Male,YoungAdults_15_24_Female,YoungAdults_15_24_Total,WorkingAdults_25_44_Male,WorkingAdults_25_44_Female,WorkingAdults_25_44_Total,MatureAdults_45_64_Male,MatureAdults_45_64_Female,MatureAdults_45_64_Total,Elderly_65Plus_Male,Elderly_65Plus_Female,Elderly_65Plus_Total,Male_Female_Ratio,Children_0_14_MF_Ratio,YoungAdults_15_24_MF_Ratio,WorkingAdults_25_44_MF_Ratio,MatureAdults_45_64_MF_Ratio,Elderly_65Plus_MF_Ratio,Iso3_code,Region,Subregion,Indicator,Crime_category,Crime_rate_per_100000_population
0,8,Albania,2005,1551.975,1534.835,3086.81,426.158,391.875,818.033,280.595,287.408,568.003,385.069,420.551,805.62,332.812,299.943,632.755,127.341,135.058,262.399,1.011167,1.087485,0.976295,0.91563,1.109584,0.942862,ALB,Europe,Southern Europe,Violent and Sexual,Serious assault,5.440815
1,8,Albania,2005,1551.975,1534.835,3086.81,426.158,391.875,818.033,280.595,287.408,568.003,385.069,420.551,805.62,332.812,299.943,632.755,127.341,135.058,262.399,1.011167,1.087485,0.976295,0.91563,1.109584,0.942862,ALB,Europe,Southern Europe,Violent and Sexual,Sexual violence,2.934743

In [90]:
# Check data statistics 
df_1.describe()

,LocID,Year,PopMale,PopFemale,PopTotal,Children_0_14_Male,Children_0_14_Female,Children_0_14_Total,YoungAdults_15_24_Male,YoungAdults_15_24_Female,YoungAdults_15_24_Total,WorkingAdults_25_44_Male,WorkingAdults_25_44_Female,WorkingAdults_25_44_Total,MatureAdults_45_64_Male,MatureAdults_45_64_Female,MatureAdults_45_64_Total,Elderly_65Plus_Male,Elderly_65Plus_Female,Elderly_65Plus_Total,Male_Female_Ratio,Children_0_14_MF_Ratio,YoungAdults_15_24_MF_Ratio,WorkingAdults_25_44_MF_Ratio,MatureAdults_45_64_MF_Ratio,Elderly_65Plus_MF_Ratio,Crime_rate_per_100000_population
count,16024.000000,16024.000000,16024.000000,16024.000000,1.602400e+04,16024.000000,16024.000000,16024.000000,16024.000000,16024.000000,16024.000000,16024.000000,16024.000000,16024.000000,16024.000000,16024.000000,16024.000000,16024.000000,16024.000000,16024.000000,16024.000000,16024.000000,16024.000000,16024.000000,16024.000000,16024.000000,16024.000000
mean,390.155142,2014.466987,14537.706601,14677.666313,2.921537e+04,3728.048866,3505.520702,7233.569568,2370.078640,2251.611319,4621.689959,4217.510659,4127.952453,8345.463112,2941.236932,3067.906739,6009.143670,1280.831504,1724.675101,3005.506604,0.993975,1.051944,1.055184,1.046319,0.988626,0.780042,146.851488
std,240.224539,5.347049,45642.489141,42968.841790,8.857870e+04,14157.279162,12777.326698,26932.729581,8639.940788,7849.325018,16487.570051,13156.327543,12334.760664,25484.502490,7755.013540,7671.414086,15414.345127,2773.535548,3545.243931,6285.870222,0.173640,0.022716,0.102477,0.272611,0.281924,0.181589,398.496660
min,8.000000,2003.000000,52.493000,52.165000,1.046580e+02,12.912000,12.315000,25.227000,8.014000,7.694000,15.708000,13.853000,13.138000,26.991000,8.958000,8.645000,17.603000,4.009000,4.020000,9.238000,0.837162,0.966144,0.884460,0.602489,0.669999,0.465497,0.000823
25%,191.000000,2010.000000,1563.881000,1606.333000,3.170214e+03,357.587000,343.829000,701.416000,254.631250,246.723000,500.372000,473.575000,474.885000,948.666500,361.903000,382.789000,735.949000,134.150250,191.778000,335.124000,0.945606,1.043347,1.030053,0.980562,0.906881,0.701891,2.168017
50%,380.000000,2016.000000,4311.692000,4402.555000,8.762662e+03,766.187000,726.866500,1492.112000,549.066000,523.235000,1078.961000,1223.714000,1171.884000,2394.288000,946.440000,934.681000,1855.160000,375.835000,506.655000,877.487000,0.972633,1.051731,1.044752,1.012603,0.957290,0.770385,13.974887
75%,604.000000,2019.000000,13771.465000,13922.113000,2.768459e+04,3028.246000,2893.634500,5917.145750,2199.732500,2114.313000,4307.960250,3984.089000,3567.174000,7124.128000,2445.709000,2504.359000,4959.889000,989.625000,1268.105000,2251.863000,0.999509,1.058347,1.058405,1.040515,0.998254,0.849033,81.220387
max,887.000000,2022.000000,726052.413000,687996.940000,1.414049e+06,200813.943000,179642.848000,380433.485000,126505.406000,112916.087000,239421.493000,228679.629000,216101.611000,444781.240000,200340.494000,195600.263000,395940.757000,65236.790000,73376.986000,138613.776000,3.082418,1.154987,3.114444,4.061856,4.100060,2.669254,4914.249617

In [91]:
# Check data statistics 
df_1.describe(include="object").T

                count unique                              top  freq
Country         16024    130                          Austria   264
Iso3_code       16024    130                              AUT   264
Region          16024      5                           Europe  7309
Subregion       16024     15  Latin America and the Caribbean  3690
Indicator       16024      2          Corruption and Economic  8177
Crime_category  16024     22            Sexual violence: Rape  1634

In [92]:
# Merge data with total_government_expenditure_on_education_gdp_final
df_2 = pd.merge(total_government_expenditure_on_education_gdp_final,df_1,on=["Country","Year"],how="inner")
df_2.head(2)

,Country,Year,Puplic_education_spending%_of_gdp,LocID,PopMale,PopFemale,PopTotal,Children_0_14_Male,Children_0_14_Female,Children_0_14_Total,YoungAdults_15_24_Male,YoungAdults_15_24_Female,YoungAdults_15_24_Total,WorkingAdults_25_44_Male,WorkingAdults_25_44_Female,WorkingAdults_25_44_Total,MatureAdults_45_64_Male,MatureAdults_45_64_Female,MatureAdults_45_64_Total,Elderly_65Plus_Male,Elderly_65Plus_Female,Elderly_65Plus_Total,Male_Female_Ratio,Children_0_14_MF_Ratio,YoungAdults_15_24_MF_Ratio,WorkingAdults_25_44_MF_Ratio,MatureAdults_45_64_MF_Ratio,Elderly_65Plus_MF_Ratio,Iso3_code,Region,Subregion,Indicator,Crime_category,Crime_rate_per_100000_population
0,Albania,2005,3.28155,8,1551.975,1534.835,3086.81,426.158,391.875,818.033,280.595,287.408,568.003,385.069,420.551,805.62,332.812,299.943,632.755,127.341,135.058,262.399,1.011167,1.087485,0.976295,0.91563,1.109584,0.942862,ALB,Europe,Southern Europe,Violent and Sexual,Serious assault,5.440815
1,Albania,2005,3.28155,8,1551.975,1534.835,3086.81,426.158,391.875,818.033,280.595,287.408,568.003,385.069,420.551,805.62,332.812,299.943,632.755,127.341,135.058,262.399,1.011167,1.087485,0.976295,0.91563,1.109584,0.942862,ALB,Europe,Southern Europe,Violent and Sexual,Sexual violence,2.934743

In [93]:
# Check data statistics 
df_2.describe()

,Year,Puplic_education_spending%_of_gdp,LocID,PopMale,PopFemale,PopTotal,Children_0_14_Male,Children_0_14_Female,Children_0_14_Total,YoungAdults_15_24_Male,YoungAdults_15_24_Female,YoungAdults_15_24_Total,WorkingAdults_25_44_Male,WorkingAdults_25_44_Female,WorkingAdults_25_44_Total,MatureAdults_45_64_Male,MatureAdults_45_64_Female,MatureAdults_45_64_Total,Elderly_65Plus_Male,Elderly_65Plus_Female,Elderly_65Plus_Total,Male_Female_Ratio,Children_0_14_MF_Ratio,YoungAdults_15_24_MF_Ratio,WorkingAdults_25_44_MF_Ratio,MatureAdults_45_64_MF_Ratio,Elderly_65Plus_MF_Ratio,Crime_rate_per_100000_population
count,13509.000000,13509.000000,13509.000000,13509.000000,13509.000000,1.350900e+04,13509.000000,13509.000000,13509.000000,13509.000000,13509.000000,13509.000000,13509.000000,13509.000000,13509.000000,13509.000000,13509.000000,13509.000000,13509.000000,13509.000000,13509.000000,13509.000000,13509.000000,13509.000000,13509.000000,13509.000000,13509.000000,13509.000000
mean,2014.646976,4.631238,377.356947,14075.253394,14140.275344,2.821553e+04,3603.498542,3387.229909,6990.728451,2287.071553,2173.289355,4460.360907,4041.483173,3963.680107,8005.163280,2855.919920,2941.025180,5796.945101,1287.280206,1675.050793,2962.330999,0.982414,1.052474,1.050720,1.029160,0.970767,0.772057,152.728185
std,5.132573,1.402082,238.207149,44868.199185,42082.537767,8.693206e+04,13889.674673,12545.695871,26433.502200,8490.939919,7714.894246,16204.084175,12935.183194,12113.836277,25043.898267,7615.914201,7426.077885,15037.612443,2778.013960,3381.386885,6149.326962,0.123519,0.022816,0.080384,0.195019,0.195623,0.146407,412.956135
min,2003.000000,0.496686,8.000000,53.667000,52.560000,1.062270e+02,12.940000,12.338000,25.278000,8.014000,7.694000,15.708000,14.838000,14.141000,28.979000,11.092000,10.421000,21.513000,4.623000,4.020000,10.097000,0.837162,0.966144,0.884460,0.602489,0.669999,0.467548,0.000823
25%,2011.000000,3.647770,191.000000,1690.481000,1789.842000,3.496015e+03,367.563000,349.100000,718.046000,269.439000,255.202000,528.196000,535.574000,522.755000,1053.519000,377.073000,411.989000,797.733000,164.006000,212.723000,383.736000,0.945181,1.043878,1.030145,0.982191,0.910025,0.701460,2.206921
50%,2016.000000,4.609030,372.000000,4311.692000,4415.982000,8.747306e+03,772.100000,728.689000,1501.366000,548.003000,524.496000,1076.204000,1204.927000,1170.699000,2386.906000,961.005000,982.702000,1939.323000,412.050000,529.305000,939.211000,0.972186,1.052177,1.045218,1.012639,0.956555,0.767491,14.274202
75%,2019.000000,5.446427,591.000000,11443.331000,11517.928000,2.296126e+04,2949.391000,2807.191000,5759.385000,1912.226000,1857.816000,3779.264000,3164.367000,3086.554000,6199.813000,2268.086000,2438.185000,4669.408000,978.382000,1255.467000,2231.542000,0.997906,1.058165,1.058297,1.039965,0.998462,0.846442,81.722472
max,2022.000000,12.328740,887.000000,726052.413000,687996.940000,1.414049e+06,200813.943000,179642.848000,380433.485000,126505.406000,112916.087000,239421.493000,228679.629000,216101.611000,444781.240000,200340.494000,195600.263000,395940.757000,65236.790000,73376.986000,138613.776000,3.054214,1.154987,2.871996,4.061856,4.064590,2.539642,4914.249617

In [94]:
# Check data statistics 
df_2.describe(include="object").T

                count unique                              top  freq
Country         13509    119                          Austria   264
Iso3_code       13509    119                              AUT   264
Region          13509      5                           Europe  6417
Subregion       13509     15  Latin America and the Caribbean  2974
Indicator       13509      2          Corruption and Economic  6881
Crime_category  13509     22            Sexual violence: Rape  1350

In [95]:
# Merge data with countries_of_the_world_final
df_3 = pd.merge(countries_of_the_world_final,df_2,on=["Country"],how="inner")
df_3.head(2)

,Country,Area(Sq.Km),Year,Puplic_education_spending%_of_gdp,LocID,PopMale,PopFemale,PopTotal,Children_0_14_Male,Children_0_14_Female,Children_0_14_Total,YoungAdults_15_24_Male,YoungAdults_15_24_Female,YoungAdults_15_24_Total,WorkingAdults_25_44_Male,WorkingAdults_25_44_Female,WorkingAdults_25_44_Total,MatureAdults_45_64_Male,MatureAdults_45_64_Female,MatureAdults_45_64_Total,Elderly_65Plus_Male,Elderly_65Plus_Female,Elderly_65Plus_Total,Male_Female_Ratio,Children_0_14_MF_Ratio,YoungAdults_15_24_MF_Ratio,WorkingAdults_25_44_MF_Ratio,MatureAdults_45_64_MF_Ratio,Elderly_65Plus_MF_Ratio,Iso3_code,Region,Subregion,Indicator,Crime_category,Crime_rate_per_100000_population
0,United Arab Emirates,82880.0,2019,3.86021,784,6766.806,3003.72,9770.526,730.453,708.435,1438.888,730.662,419.06,1149.722,3984.705,1439.37,5424.075,1246.497,398.323,1644.82,74.489,38.532,113.021,2.252809,1.03108,1.743574,2.768367,3.129362,1.933172,ARE,Asia,Western Asia,Violent and Sexual,Serious assault,2.084316
1,United Arab Emirates,82880.0,2019,3.86021,784,6766.806,3003.72,9770.526,730.453,708.435,1438.888,730.662,419.06,1149.722,3984.705,1439.37,5424.075,1246.497,398.323,1644.82,74.489,38.532,113.021,2.252809,1.03108,1.743574,2.768367,3.129362,1.933172,ARE,Asia,Western Asia,Violent and Sexual,Kidnapping,0.792474

In [97]:
# Rearrange columns order
new_order = [
    'LocID','Iso3_code','Country', 'Region', 'Subregion',  # Identification and Location
    'Year', 'Area(Sq.Km)',                         # Time and Area
    'PopMale', 'PopFemale', 'PopTotal',           # Total Population Data
    'Male_Female_Ratio',                          # General Ratios
    'Children_0_14_Male', 'Children_0_14_Female', 'Children_0_14_Total', 'Children_0_14_MF_Ratio',  # Children Data
    'YoungAdults_15_24_Male', 'YoungAdults_15_24_Female', 'YoungAdults_15_24_Total', 'YoungAdults_15_24_MF_Ratio',  # Young Adults
    'WorkingAdults_25_44_Male', 'WorkingAdults_25_44_Female', 'WorkingAdults_25_44_Total', 'WorkingAdults_25_44_MF_Ratio',  # Working Adults
    'MatureAdults_45_64_Male', 'MatureAdults_45_64_Female', 'MatureAdults_45_64_Total', 'MatureAdults_45_64_MF_Ratio',  # Mature Adults
    'Elderly_65Plus_Male', 'Elderly_65Plus_Female', 'Elderly_65Plus_Total', 'Elderly_65Plus_MF_Ratio',  # Elderly Data
    'Puplic_education_spending%_of_gdp',          # Education and Economy
    'Indicator', 'Crime_category', 'Crime_rate_per_100000_population'  # Crime and Indicators
]
df_final = df_3[new_order]
df_final.head(2)

,LocID,Iso3_code,Country,Region,Subregion,Year,Area(Sq.Km),PopMale,PopFemale,PopTotal,Male_Female_Ratio,Children_0_14_Male,Children_0_14_Female,Children_0_14_Total,Children_0_14_MF_Ratio,YoungAdults_15_24_Male,YoungAdults_15_24_Female,YoungAdults_15_24_Total,YoungAdults_15_24_MF_Ratio,WorkingAdults_25_44_Male,WorkingAdults_25_44_Female,WorkingAdults_25_44_Total,WorkingAdults_25_44_MF_Ratio,MatureAdults_45_64_Male,MatureAdults_45_64_Female,MatureAdults_45_64_Total,MatureAdults_45_64_MF_Ratio,Elderly_65Plus_Male,Elderly_65Plus_Female,Elderly_65Plus_Total,Elderly_65Plus_MF_Ratio,Puplic_education_spending%_of_gdp,Indicator,Crime_category,Crime_rate_per_100000_population
0,784,ARE,United Arab Emirates,Asia,Western Asia,2019,82880.0,6766.806,3003.72,9770.526,2.252809,730.453,708.435,1438.888,1.03108,730.662,419.06,1149.722,1.743574,3984.705,1439.37,5424.075,2.768367,1246.497,398.323,1644.82,3.129362,74.489,38.532,113.021,1.933172,3.86021,Violent and Sexual,Serious assault,2.084316
1,784,ARE,United Arab Emirates,Asia,Western Asia,2019,82880.0,6766.806,3003.72,9770.526,2.252809,730.453,708.435,1438.888,1.03108,730.662,419.06,1149.722,1.743574,3984.705,1439.37,5424.075,2.768367,1246.497,398.323,1644.82,3.129362,74.489,38.532,113.021,1.933172,3.86021,Violent and Sexual,Kidnapping,0.792474

In [98]:
# Remove countries that do not appear in at least 15 different years
country_year_counts = df_final.groupby('Country')['Year'].nunique()
valid_countries = country_year_counts[country_year_counts >= 15].index
df_final = df_final[df_final['Country'].isin(valid_countries)]

#### Data Profiling

In [99]:
# Data information
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9462 entries, 36 to 13072
Data columns (total 35 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   LocID                              9462 non-null   int64
 1   Iso3_code                          9462 non-null   object
 2   Country                            9462 non-null   object
 3   Region                             9462 non-null   object
 4   Subregion                          9462 non-null   object
 5   Year                               9462 non-null   int64
 6   Area(Sq.Km)                        9462 non-null   float64
 7   PopMale                            9462 non-null   float64
 8   PopFemale                          9462 non-null   float64
 9   PopTotal                           9462 non-null   float64
 10  Male_Female_Ratio                  9462 non-null   float64
 11  Children_0_14_Male                 9462 non-null   float64
 12  Children_0_14_Female               9462 non-null   float64
 13  Children_0_14_Total                9462 non-null   float64
 14  Children_0_14_MF_Ratio             9462 non-null   float64
 15  YoungAdults_15_24_Male             9462 non-null   float64
 16  YoungAdults_15_24_Female           9462 non-null   float64
 17  YoungAdults_15_24_Total            9462 non-null   float64
 18  YoungAdults_15_24_MF_Ratio         9462 non-null   float64
 19  WorkingAdults_25_44_Male           9462 non-null   float64
 20  WorkingAdults_25_44_Female         9462 non-null   float64
 21  WorkingAdults_25_44_Total          9462 non-null   float64
 22  WorkingAdults_25_44_MF_Ratio       9462 non-null   float64
 23  MatureAdults_45_64_Male            9462 non-null   float64
 24  MatureAdults_45_64_Female          9462 non-null   float64
 25  MatureAdults_45_64_Total           9462 non-null   float64
 26  MatureAdults_45_64_MF_Ratio        9462 non-null   float64
 27  Elderly_65Plus_Male                9462 non-null   float64
 28  Elderly_65Plus_Female              9462 non-null   float64
 29  Elderly_65Plus_Total               9462 non-null   float64
 30  Elderly_65Plus_MF_Ratio            9462 non-null   float64
 31  Puplic_education_spending%_of_gdp  9462 non-null   float64
 32  Indicator                          9462 non-null   object
 33  Crime_category                     9462 non-null   object
 34  Crime_rate_per_100000_population   9462 non-null   float64
dtypes: float64(27), int64(2), object(6)
memory usage: 2.6+ MB

In [100]:
# Check data statistics 
df_final.describe()

,LocID,Year,Area(Sq.Km),PopMale,PopFemale,PopTotal,Male_Female_Ratio,Children_0_14_Male,Children_0_14_Female,Children_0_14_Total,Children_0_14_MF_Ratio,YoungAdults_15_24_Male,YoungAdults_15_24_Female,YoungAdults_15_24_Total,YoungAdults_15_24_MF_Ratio,WorkingAdults_25_44_Male,WorkingAdults_25_44_Female,WorkingAdults_25_44_Total,WorkingAdults_25_44_MF_Ratio,MatureAdults_45_64_Male,MatureAdults_45_64_Female,MatureAdults_45_64_Total,MatureAdults_45_64_MF_Ratio,Elderly_65Plus_Male,Elderly_65Plus_Female,Elderly_65Plus_Total,Elderly_65Plus_MF_Ratio,Puplic_education_spending%_of_gdp,Crime_rate_per_100000_population
count,9462.000000,9462.000000,9.462000e+03,9462.000000,9462.000000,9462.000000,9462.000000,9462.000000,9462.000000,9462.000000,9462.000000,9462.000000,9462.000000,9462.000000,9462.000000,9462.000000,9462.000000,9462.000000,9462.000000,9462.000000,9462.000000,9462.000000,9462.000000,9462.000000,9462.00000,9462.000000,9462.000000,9462.000000,9462.000000
mean,366.446417,2014.536039,6.302700e+05,10461.735801,10881.576218,21343.312020,0.961235,2163.033021,2067.355434,4230.388454,1.055302,1482.253375,1434.218200,2916.471575,1.046633,2985.789524,2988.929523,5974.719047,1.010156,2492.074048,2609.544111,5101.618159,0.949047,1338.585834,1781.52895,3120.114784,0.743900,4.821778,176.831565
std,237.240180,5.174895,1.805733e+06,16305.837923,16943.210763,33247.857653,0.045302,3771.263033,3626.345673,7397.441685,0.022538,2549.002964,2492.423345,5040.944232,0.035084,4755.131198,4827.744329,9580.125366,0.054148,3832.241975,4003.655991,7832.962049,0.072309,2286.597431,3012.13096,5296.534741,0.106238,1.291484,459.269212
min,8.000000,2003.000000,3.160000e+02,132.170000,143.113000,275.283000,0.844658,23.885000,23.135000,47.020000,1.006977,18.746000,18.250000,37.386000,0.900140,36.842000,37.510000,74.352000,0.806048,28.547000,30.912000,60.625000,0.735700,14.087000,18.49500,33.740000,0.467548,2.067630,0.000823
25%,188.000000,2011.000000,4.309400e+04,1652.003000,1784.026000,3424.139000,0.940586,361.066250,344.315000,706.384000,1.045980,264.034000,254.675000,519.657000,1.032931,517.678000,517.045000,1034.857000,0.986714,377.073000,440.860000,816.683000,0.909990,184.806000,259.65900,437.402000,0.683126,3.922466,2.754042
50%,352.000000,2016.000000,9.303000e+04,4028.900000,4190.586000,8216.810000,0.968152,670.743000,634.252000,1308.523000,1.052887,515.797000,491.760000,1003.789000,1.047100,1161.473000,1145.424000,2306.897000,1.016850,976.233000,1013.264000,1954.746000,0.954511,453.820000,607.25600,1083.554000,0.757700,4.774471,17.549685
75%,604.000000,2019.000000,3.570210e+05,10232.553000,10654.676750,20906.392000,0.987555,2896.256000,2748.234000,5643.675000,1.059152,1749.746000,1711.787000,3465.456000,1.059293,3026.515000,2941.695000,5954.609000,1.040684,2268.086000,2410.034000,4649.832000,0.996847,1010.806000,1294.21500,2316.030000,0.818082,5.473060,101.175032
max,858.000000,2022.000000,9.984670e+06,104435.783000,108123.626000,212559.409000,1.098603,25722.626000,24761.328000,50483.954000,1.154987,17845.061000,17473.486000,35318.547000,1.213059,33403.938000,33686.731000,67090.669000,1.141667,22824.308000,24865.746000,47690.054000,1.171117,15885.288000,20463.67200,36348.960000,0.959979,8.583830,4914.249617

In [101]:
# Check data statistics 
df_final.describe(include="object").T

               count unique                      top  freq
Iso3_code       9462     51                      AUT   264
Country         9462     51                  Austria   264
Region          9462      5                   Europe  5916
Subregion       9462     12          Northern Europe  1773
Indicator       9462      2  Corruption and Economic  5081
Crime_category  9462     22                    Theft   892

In [102]:
# Show the first 5 rows
df_final.head()

,LocID,Iso3_code,Country,Region,Subregion,Year,Area(Sq.Km),PopMale,PopFemale,PopTotal,Male_Female_Ratio,Children_0_14_Male,Children_0_14_Female,Children_0_14_Total,Children_0_14_MF_Ratio,YoungAdults_15_24_Male,YoungAdults_15_24_Female,YoungAdults_15_24_Total,YoungAdults_15_24_MF_Ratio,WorkingAdults_25_44_Male,WorkingAdults_25_44_Female,WorkingAdults_25_44_Total,WorkingAdults_25_44_MF_Ratio,MatureAdults_45_64_Male,MatureAdults_45_64_Female,MatureAdults_45_64_Total,MatureAdults_45_64_MF_Ratio,Elderly_65Plus_Male,Elderly_65Plus_Female,Elderly_65Plus_Total,Elderly_65Plus_MF_Ratio,Puplic_education_spending%_of_gdp,Indicator,Crime_category,Crime_rate_per_100000_population
36,8,ALB,Albania,Europe,Southern Europe,2005,28748.0,1551.975,1534.835,3086.81,1.011167,426.158,391.875,818.033,1.087485,280.595,287.408,568.003,0.976295,385.069,420.551,805.62,0.91563,332.812,299.943,632.755,1.109584,127.341,135.058,262.399,0.942862,3.28155,Violent and Sexual,Serious assault,5.440815
37,8,ALB,Albania,Europe,Southern Europe,2005,28748.0,1551.975,1534.835,3086.81,1.011167,426.158,391.875,818.033,1.087485,280.595,287.408,568.003,0.976295,385.069,420.551,805.62,0.91563,332.812,299.943,632.755,1.109584,127.341,135.058,262.399,0.942862,3.28155,Violent and Sexual,Sexual violence,2.934743
38,8,ALB,Albania,Europe,Southern Europe,2005,28748.0,1551.975,1534.835,3086.81,1.011167,426.158,391.875,818.033,1.087485,280.595,287.408,568.003,0.976295,385.069,420.551,805.62,0.91563,332.812,299.943,632.755,1.109584,127.341,135.058,262.399,0.942862,3.28155,Violent and Sexual,Sexual violence: Rape,1.615757
39,8,ALB,Albania,Europe,Southern Europe,2005,28748.0,1551.975,1534.835,3086.81,1.011167,426.158,391.875,818.033,1.087485,280.595,287.408,568.003,0.976295,385.069,420.551,805.62,0.91563,332.812,299.943,632.755,1.109584,127.341,135.058,262.399,0.942862,3.28155,Corruption and Economic,Burglary,6.561952
40,8,ALB,Albania,Europe,Southern Europe,2005,28748.0,1551.975,1534.835,3086.81,1.011167,426.158,391.875,818.033,1.087485,280.595,287.408,568.003,0.976295,385.069,420.551,805.62,0.91563,332.812,299.943,632.755,1.109584,127.341,135.058,262.399,0.942862,3.28155,Corruption and Economic,Theft,98.462261

In [103]:
# Show the last 5 rows
df_final.tail()

,LocID,Iso3_code,Country,Region,Subregion,Year,Area(Sq.Km),PopMale,PopFemale,PopTotal,Male_Female_Ratio,Children_0_14_Male,Children_0_14_Female,Children_0_14_Total,Children_0_14_MF_Ratio,YoungAdults_15_24_Male,YoungAdults_15_24_Female,YoungAdults_15_24_Total,YoungAdults_15_24_MF_Ratio,WorkingAdults_25_44_Male,WorkingAdults_25_44_Female,WorkingAdults_25_44_Total,WorkingAdults_25_44_MF_Ratio,MatureAdults_45_64_Male,MatureAdults_45_64_Female,MatureAdults_45_64_Total,MatureAdults_45_64_MF_Ratio,Elderly_65Plus_Male,Elderly_65Plus_Female,Elderly_65Plus_Total,Elderly_65Plus_MF_Ratio,Puplic_education_spending%_of_gdp,Indicator,Crime_category,Crime_rate_per_100000_population
13068,858,URY,Uruguay,Americas,Latin America and the Caribbean,2022,176220.0,1690.481,1805.534,3496.015,0.936278,359.631,344.065,703.696,1.045241,249.344,239.864,489.208,1.039522,480.882,476.466,957.348,1.009268,387.691,417.346,805.037,0.928944,212.933,327.793,540.726,0.649596,4.50733,Corruption and Economic,Corruption: Bribery,0.409023
13069,858,URY,Uruguay,Americas,Latin America and the Caribbean,2022,176220.0,1690.481,1805.534,3496.015,0.936278,359.631,344.065,703.696,1.045241,249.344,239.864,489.208,1.039522,480.882,476.466,957.348,1.009268,387.691,417.346,805.037,0.928944,212.933,327.793,540.726,0.649596,4.50733,Corruption and Economic,Corruption: Other acts of corruption,11.102043
13070,858,URY,Uruguay,Americas,Latin America and the Caribbean,2022,176220.0,1690.481,1805.534,3496.015,0.936278,359.631,344.065,703.696,1.045241,249.344,239.864,489.208,1.039522,480.882,476.466,957.348,1.009268,387.691,417.346,805.037,0.928944,212.933,327.793,540.726,0.649596,4.50733,Corruption and Economic,Theft,3385.626390
13071,858,URY,Uruguay,Americas,Latin America and the Caribbean,2022,176220.0,1690.481,1805.534,3496.015,0.936278,359.631,344.065,703.696,1.045241,249.344,239.864,489.208,1.039522,480.882,476.466,957.348,1.009268,387.691,417.346,805.037,0.928944,212.933,327.793,540.726,0.649596,4.50733,Corruption and Economic,Theft: of a motorized vehicle,430.700830
13072,858,URY,Uruguay,Americas,Latin America and the Caribbean,2022,176220.0,1690.481,1805.534,3496.015,0.936278,359.631,344.065,703.696,1.045241,249.344,239.864,489.208,1.039522,480.882,476.466,957.348,1.009268,387.691,417.346,805.037,0.928944,212.933,327.793,540.726,0.649596,4.50733,Corruption and Economic,Fraud,576.838772

In [104]:
#loop through the columns and check the missing values
for col in df_final.columns:
    pct_missing = df_final[col].isnull().mean()
    print(f"{col} - {pct_missing :.1%}")

LocID - 0.0%
Iso3_code - 0.0%
Country - 0.0%
Region - 0.0%
Subregion - 0.0%
Year - 0.0%
Area(Sq.Km) - 0.0%
PopMale - 0.0%
PopFemale - 0.0%
PopTotal - 0.0%
Male_Female_Ratio - 0.0%
Children_0_14_Male - 0.0%
Children_0_14_Female - 0.0%
Children_0_14_Total - 0.0%
Children_0_14_MF_Ratio - 0.0%
YoungAdults_15_24_Male - 0.0%
YoungAdults_15_24_Female - 0.0%
YoungAdults_15_24_Total - 0.0%
YoungAdults_15_24_MF_Ratio - 0.0%
WorkingAdults_25_44_Male - 0.0%
WorkingAdults_25_44_Female - 0.0%
WorkingAdults_25_44_Total - 0.0%
WorkingAdults_25_44_MF_Ratio - 0.0%
MatureAdults_45_64_Male - 0.0%
MatureAdults_45_64_Female - 0.0%
MatureAdults_45_64_Total - 0.0%
MatureAdults_45_64_MF_Ratio - 0.0%
Elderly_65Plus_Male - 0.0%
Elderly_65Plus_Female - 0.0%
Elderly_65Plus_Total - 0.0%
Elderly_65Plus_MF_Ratio - 0.0%
Puplic_education_spending%_of_gdp - 0.0%
Indicator - 0.0%
Crime_category - 0.0%
Crime_rate_per_100000_population - 0.0%

In [105]:
# Check duplicates row
duplicates = df_final.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 0

In [106]:
# Data profiling
"""
profile = ProfileReport(df_final,title="df_final",minimal=True) # Summarize and profile the data

profile.to_file("df_final.html")   # Save report to HTML file 
"""

'\nprofile = ProfileReport(df_final,title="df_final",minimal=True) # Summarize and profile the data\n\nprofile.to_file("df_final.html")   # Save report to HTML file \n'